@model Acef.MVC.Models.DTO.RaisonDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Ajouter</h1>

<h4>Raison</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomRaison" class="control-label"></label>
                <input asp-for="NomRaison" class="form-control" />
                <span asp-validation-for="NomRaison" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
