@model Acef.MVC.Models.DTO.RaisonDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Etes-vous sure de vouloir supprimer cette raison de consultation ?</h3>
<div>
    <h4>Raison</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomRaison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomRaison)
        </dd>
    </dl><br />
    
    <form asp-action="Delete">
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
